{% extends 'upskill_photography/base.html' %}
{% load staticfiles %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}
	<h1>About Upskill Photography</h1>
	<p>Upskill Photography is a website constructed for the Computing Science Web App Development team project in the University of Glasgow.</p>
	<p>Upskill Photography was designed to be a platform for beginner, amateur, and professional photographers
		who want to have a community to share their photography work,
		get feedback from other photographers on their pictures, or get inspired by the works of others.</p>
{% endblock %}